@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css?family=Kalnia');
@import url('https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible');
 

body, aside {
  
  background-color: #E3F0F6;
}


h1 {
  color: #294C3E;
  font-family: "Kalnia";
} 

h2 {
  font-family: "Kalnia";
}

h3 {
  font-family: "Kalnia";
}

h4 {
  font-family: "Kalnia";
}

p {
  font-family: "Atkinson Hyperlegible";
  
}

li {
  font-family: "Kalnia";
}




#hello-text {
  color: #859B92;
  font-weight: bold;
  font-style: italic;
}
